.cell {
	/* width: 35px;
	height: 35px;
	outline: 1px solid black;
	display: inline-block;  */
	display: inline-flex;
    width: calc(100% / 30);
    padding-bottom: calc(100% / 30);
    outline: 1px solid black;
}

.cell-visited {
	background-color:blue;
}

.cell-start {
	background-color: green;
}

.cell-end {
	background-color: red;
}

.cell-wall {
	background-color: black;
}

.cell-path {
	background-color:yellow;
}
